<h2>Message Details</h2>
<p>
  Author: <%= @message.author %>
</p>

<p>
  <%= @message.content %> <%= @message.url %>
</p>

<% if @message.created_at %>
  <p>Created at: <%= @message.created_at %></p>
<% end %>

<% other_messages = Message.where(author: @message.author) %>
<% if other_messages.count > 1 %>
  <h4>Other messages from this author</h3>
  <% other_messages.each do |message| %>
    <% if message.content != @message.content %>
      <p><%= message.content %></p>
    <% end %>
  <% end %>
<% end %>

<hr/>
<a href="/messages">Back to All Messages</a>